@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&family=Manrope:wght@400;700&display=swap');

/* font-family: 'Fraunces', serif;
font-family: 'Manrope', sans-serif;*/

:root{
  --primary-color: #24053E;
  --secondary-color: #44FFA1;
  --Davys-Grey: #584D62;
  --Ghost-white: #FCF8FF;
  --white: #FFFFFF;
}

/* utilities */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color: #333;
  line-height: 1.6;
  min-height: 0;
  min-width: none;
  background-color: var(--Ghost-white);
}

.work-it {
  overflow: hidden;
}

.navbar {
  background-color: var(--primary-color);
  width: 100%;
  height: 6.25rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 30px 10em;
}

.nav-gate a{
  color: var(--white);
  border-bottom: 3px solid var(--secondary-color);
  padding: 5px;
  font-size: 18px;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
}

.logo, a {
  text-decoration: none;
  cursor: pointer;
}

.nav-gate a:hover {
  color: var(--secondary-color);
}

.tail {
  border-bottom: 2px solid var(--secondary-color);
}

/* main */

.ovally__one {
  position: relative;
  right: 40px;
  top: 20px;
}
.ovally__two {
  position: relative;
  right: 110px;
  top: 44px;
}
.ovally__three {
  position: relative;
  right: 217px;
  top: 66px;
}
.ovally__four {
  position: relative;
  right: 330px;
  top: 90px;
}

.heading__sub {
  margin-top: 4em;
  margin: auto;
}

.heading__sub h1 {
  line-height: 100px;
  font-family: 'Fraunces', serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  max-width: 33pc;
  letter-spacing: -0.18px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: -2em;
  color: var(--white);
  font-feature-settings: 'clig' off, 'liga' off;
}

.button {
  display: block;
  margin: auto;

  line-height: 32px;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.18px;
  margin-top: 0.89em;
  width: 7.6em;
  height: 2.9em;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  padding: 0.5em;
}

.spiral__tag {
  position: absolute;
  right: -55px;
  top: 250px;
  width: 56px;
  height: 112px;
  transform: rotate(-260deg);
  flex-shrink: 1;
}

.main {
  position: relative;
  width: 100%;
  height: 45.689em;
}

.main, .container {
  position: relative;
  z-index: 1;
  margin: auto;
}

.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 0 0 50% 50%/ 0 0 100% 100%;
  transform: scaleX(2.2);
}

.main__img {
  width: 767px;
  height: 441px;
  display: block;
  margin: auto;
  position: relative;
  top: 90px;
}

/* word__head */

.word__head {
  width: 100%;
  height: 45.689em;
  background-color: var(--Ghost-white);
  margin: 0;
}

.sub-word__head {

  width: 100%;
  margin: auto;
}

.mid-word__head {
  display: flex;
  gap: 30px;
  text-align: center;

  counter-reset: count;
  width: fit-content;
  margin-inline: auto;
}

.mid-word__head li {
  counter-increment: count;
} 

/* .mid-word__head div {
  display: grid;
  align-items: center;
  position: relative;
  column-gap: var(--size-400);
  grid-template-columns: min-content 1fr 1fr;
} */