@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&family=Manrope:wght@400;700&display=swap');

/* font-family: 'Fraunces', serif;
font-family: 'Manrope', sans-serif;*/

:root{
  --primary-color: #24053E;
  --secondary-color: #44FFA1;
  --Davys-Grey: #584D62;
  --Ghost-white: #FCF8FF;
  --white: #FFFFFF;
}

/* utilities */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color: #333;
  line-height: 1.6;
  min-height: 0;
  min-width: none;
}

.work-it {
  overflow: hidden;
}

.navbar {
  background-color: var(--primary-color);
  width: 100%;
  height: 6.25rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 30px 10em;
}

.nav-gate a{
  color: var(--white);
  border-bottom: 3px solid var(--secondary-color);
  padding: 5px;
  font-size: 18px;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
}

.logo, a {
  text-decoration: none;
  cursor: pointer;
}

.nav-gate a:hover {
  color: var(--secondary-color);
}

/* main */

.ovally__one {
  position: relative;
  right: 40px;
  top: 20px;
}
.ovally__two {
  position: relative;
  right: 110px;
  top: 44px;
}
.ovally__three {
  position: relative;
  right: 217px;
  top: 66px;
}
.ovally__four {
  position: relative;
  right: 330px;
  top: 90px;
}

.heading__sub h1 {
  line-height: 80px;
  font-family: 'Fraunces', serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  max-width: 33pc;
  letter-spacing: -0.18px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: -2em;
  color: var(--white);
  font-feature-settings: 'clig' off, 'liga' off;
}

.main .button {
  position: absolute;
  top: 50%;
  left: 45%;

  line-height: 32px;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  max-width: 33pc;
  letter-spacing: -0.18px;
  margin-top: 3em;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  
  padding: 0.5em;
}

.spiral__tag {
  position: sticky;
  bottom: 25em;
  left: 190em;
  width: 56px;
  height: 112px;
  transform: rotate(-260deg);
  flex-shrink: 0;
}

.main {
  position: relative;
  width: 100%;
  height: 80vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.main, .container {
  position: relative;
  z-index: 1;
  margin: auto;
}

.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 0 0 50% 50%/ 0 0 100% 100%;
  transform: scaleX(2.2);
}

.main__img {
  position: absolute;
  right: 35rem;
}